.top_nav
    a(href="/")
        .logo_icon
    .media_link
        ul
            li
                a(href="https://www.facebook.com/DownofislesGame" target="_blank" title="FB粉絲團")
                    img(src="/img/fb.png", alt="FB粉絲團")
            li
                a(href="https://discord.gg/uPK9uAN" target="_blank" title="Discord")
                    img(src="/img/Discord-Logo-White.png", alt="Discord")   
            li
                a(href="https://www.youtube.com/channel/UCO9NrDtRX-ETjn5LxOnzKsw/featured?view_as=subscriber" target="_blank" title="youtube頻道")
                    img(src="/img/youtube.png", alt="youtube頻道")
            li
                a(href="https://forum.gamer.com.tw/A.php?bsn=36237", target="_blank", title="巴哈姆特討論版")
                    img(src="/img/baha.png", alt="")