.top_nav
    a(href="/")
        .logo_icon
    ul#menu
        li(data-menuanchor="1")
            a(href="/#1") 首頁
        li(data-menuanchor="3").active
            a(href="#") 海島情報
        li(data-menuanchor="4")
            a(href="/#4") 海島特色
        li(data-menuanchor="5")
            a(href="/#5") 元素聯動
        li(data-menuanchor="6")
            a(href="/#6") 趣味玩法
        li(data-menuanchor="7")
            a(href="/#7") 冒險之旅
    .media_link
        ul
            each media in social_media
                li
                    a(href=media.link target="_blank" title=media.title)
                        img(src="/img/"+media.image, alt=media.title)