/* CSS Document */
html,body{
	 height: 100%;
}
a{
	text-decoration: none;
}

.top_nav {
	position:absolute;
	width: 100%;
	height: 70px;
	background:rgba(0,0,0,0.6);
	overflow: hidden;
	top: 0;
	z-index: 99;
}

.logo_icon {
	position: absolute;
	width: 220px;
	height:70px;
	background: url(../img/logo_white.png) top center no-repeat;
	background-size: 100% auto;
	top:10px;
	left: 20px;
	z-index: 50;
}

.media_link {
position: absolute;	
width:260px;
height: 60px;
top:7.5px;
right:20px;
}
.media_link li a img {
	width: 55px;
	height: 55px;
}
.media_link li{
	margin-left: 8px;
	float:left;
}
.media_link li:hover {
	transition: 0.5s;
	transform: scale(1.1);
	
}

.video_bg {
	position: fixed;
	width: 100%;
    height:100%;
    z-index: 1;
    overflow: hidden;
}

.slider-video {
	position:absolute;
	width:auto;
	min-height:100%;
}

.fix_mask {
	position:absolute;
	width: 100%;
    height:100%;
    background:url(../img/html_bg.png) top center;
    opacity:0.8;
	z-index: 2;
}

.news_title {
    position: absolute;
	width: 290px;
	height: 59px;
	background:url(../img/section2_title.png) top center no-repeat;
	left:50%;
	margin-left: -145px;
	top:100px;
	z-index: 20;
}

.news_list_position {
	position: relative;
	width: 1000px;
	min-height: 100%;
	overflow: hidden;
	left:50%;
	margin-top:200px;
	margin-left:-500px;
	z-index: 20;
	padding-bottom: 150px;
}

.news_content_position {
	font-family:"Microsoft YaHei";
	width: 310px;
	height: 250px;
	margin-top: 30px;
	overflow: hidden;
    cursor: pointer;
	
}
.news_inner:hover .news_sort{
	background:white;
    color: black;
}	
.news_inner:hover {
	color: white;
	background: rgba(0,0,0,0.5);
}

.news_inner {
	margin: 0 auto;
	width:300px;
	height:210px;
	background: white;
    border-radius:10px;
	/*box-shadow:2px 2px 4px rgba(134,134,134,1);*/
	overflow: hidden;
}



.news_title_text {
	position: relative;
	margin: 0 auto;
	width:260px;
	height:50px;
	overflow: hidden;
	margin-top: 10px;
	line-height: 30px;
	font-size:16px;
	text-align: left;
	padding-bottom: 15px;
	font-weight: 600;
	color:#5A5136;
	border-bottom:dashed rgba(79,79,79,1.00) 2px;
	
}
/*
.news_title_text::after{
	 content:"...";
    font-weight:bold;
    position:absolute;
    bottom:0;
    right:0;
    padding:0 20px 1px 45px;
  
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
*/

.news_content_text {
	position: relative;
	width: 260px;
	height: 110px;
	margin: 0 auto;
	margin-top: 10px;
	overflow: hidden;
	line-height:28px;
	font-size:15px;
	color: #6F6F6F;
}
.news_content_text img{
	width:100%;
	height: auto;
}
/*
.news_content_text::after{
	 content:"...";
    font-weight:bold;
    position:absolute;
    bottom:0;
    right:0;
    padding:0 10px 0 10px;
   
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
*/

.news_sort {
	float: left;
	width: 100px;
	height: 30px;
	background:rgba(0,0,0,0.8);
	line-height: 30px;
	color: white;
	text-align: center;
	margin-top: 5px;
    margin-left:10px;
	font-size:15px;
	letter-spacing: 5px;
}

.date_time {
	float: right;
	width:100px;
	height: 30px;
	line-height: 30px;
	color: white;
	text-align: center;
	margin-top: 5px;
	font-size:15px;
}
.footer {
	position: relative;
	width: 100%;
	margin-top: -80px;
	height: 70px;
	padding-top:5px;
	padding-bottom:5px;
    background: white;
	z-index: 50;
}

.footer .netease,.footer .longe,.footer .thunderfire,.footer .service{
	display:inline-block;
	background-image: url(../img/copyright.png);
	background-repeat: no-repeat;
	margin-left: 25px;
}

.netease {
	height:45px; 
	width:116px; 
	background-position:0 0;
}

.longe {	
	height:50px; 
	width:90px; 
	background-position:-118px 1px;
}

.thunderfire {
	
	height:48px; 
	width:48px; 
	background-position:-257px 2px;
}
.service {
	height:43px; 
	width:42px; 
	background-position:-213px -2px;
	
}	
.footer_copyright {
	margin: 0 auto;
	width:1120px;

}

.footer_service {
	margin-left: 10px;
	font-family: 'Microsoft YaHei';
	display: inline-block;
    font-size: 12px;
    line-height: 16px;
    color:#6E6D6D;
    text-align: left;
}
.footer_service a{
	text-decoration: none;
	
}
.footer_service  a{
	color:#3E2D11;
	text-align: left;
	font-size: 12px;
    line-height: 13px;
}

.footer .text {
	font-family: 'Microsoft YaHei';
	display: inline-block;
    font-size: 12px;
    line-height: 16px;
    color:#6E6D6D;
    text-align: left;
	width: 450px;
	margin-left: 40px;
	 
}

.news_box {
	width: 100%;
	height: auto;
	min-height: 100%;
	overflow: hidden;
}

.news_page_position {
	position: relative;
	width: 100%;
	height: auto;
}





.news_page_content_outer {
	width: 100%;
	height: 100%;
	min-height:100%;
}




#news_page_close:hover{
	transform: rotate(180deg);
}

