/* CSS Document */
html,body{
	 height: 100%;
}
a{
	text-decoration: none;
}

.top_nav {
	position:fixed;
	width: 750px;
	height: 85px;
	left: 50%;
	margin-left:-375px;
	background:rgba(0,0,0,0.6);
	overflow: hidden;
	z-index: 99;
}

.logo_icon {
	position: absolute;
	width: 207px;
	height:70px;
	background: url(../img/apps_icon_mb.png) top center no-repeat;
	background-size: 100% auto;
	top:5px;
	left:5px;
	z-index: 50;
}

.media_link {
position: absolute;
transform: scale(1.2);
width:260px;
height: 60px;
top:14px;
right:25px;
}
.media_link li a img {
	width: 55px;
	height: 55px;
}
.media_link li{
	margin-left: 8px;
	float:left;
}
.media_link li:hover {
	transition: 0.5s;
	transform: scale(1.1);
	
}







.news_title {
    position: absolute;
	width: 290px;
	height: 90px;
	background:url(../img/section2_title.png) top center no-repeat;
	background-size:100% 100%;
	left:50%;
	margin-left: -145px;
	top:150px;
	z-index: 20;
}

.news_list_position {
	position: relative;
	width: 750px;
	min-height: 100%;
	overflow: hidden;
	margin-top:300px;
	z-index: 20;
	padding-bottom: 150px;
}

.news_content_position {
	font-family:"Microsoft YaHei";
	width: 700px;
	height: 430px;
	margin-top: 30px;
	overflow: hidden;
    cursor: pointer;

}
.news_inner:hover .news_sort{
	background:white;
    color: black;
}	


.news_inner {
	margin: 0 auto;
	width:700px;
	height:350px;
	background: white;
    border-radius:15px;
	/*box-shadow:2px 2px 4px rgba(134,134,134,1);*/
	overflow: hidden;
}



.news_title_text {
	position: relative;
	margin: 0 auto;
	width:600px;
	height:60px;
	overflow: hidden;
	margin-top: 40px;
	line-height: 35px;
	font-size:25px;
	text-align: left;
	padding-bottom: 15px;
	font-weight: 600;
	color:#5A5136;
	border-bottom:dashed rgba(79,79,79,1.00) 2px;
	
}
.news_content_text {
	position: relative;
	width: 600px;
	height: 180px;
	margin: 0 auto;
	margin-top: 20px;
	overflow: hidden;
	line-height:35px;
	font-size:22px;
	color: #6F6F6F;

}
.news_content_text img{
	width:100%;
	height: auto;
}
.news_sort {
	float: left;
	width: 180px;
	height: 40px;
	background:rgba(0,0,0,0.8);
	line-height: 40px;
	color: white;
	text-align: center;
	margin-top: 5px;
    margin-left:10px;
	font-size:20px;
	letter-spacing: 25px;

}

.date_time {
	float: right;
	width:180px;
	height: 40px;
	line-height: 40px;
	color: white;
	text-align: center;
	margin-top: 5px;
	font-size:20px;
}
.footer {
	position: relative;
	width: 750px;
	margin: 0 auto;
	padding: 30px 0;
	background: white;
	z-index: 20;
	
}

.footer .netease,.footer .longe,.footer .thunderfire,.footer .service{
	display:inline-block;
	background-image: url(../img/copyright.png);
	background-repeat: no-repeat;
}

.netease {
	height:70px; 
	width:165px;
	background-size:cover;
	background-position:0 5px;
}

.longe {	
	height:70px; 
	width:130px; 
	background-size: cover;
	background-position:-165px 0;
	margin-left: 40px;
}

.thunderfire {
	height:70px; 
	width:70px; 
	background-size: cover;
	background-position:-355px 5px;
	margin-left: 40px;
}
.service {
	height:70px; 
	width:65px; 
	background-size: cover;
	background-position:-290px 8px;
	margin-left: 40px;
}	
.footer_copyright {
	margin: 0 auto;
	width:600px;	
}

.footer_service {
	display: inline-block;
	margin-left: 10px;
	font-family: 'Microsoft YaHei';
    font-size: 20px;
    line-height: 25px;
    color:#4E4E4E;
    text-align: left;
}
.footer_service  a{
	text-decoration-line: none;
	font-family: 'Microsoft YaHei';
    font-size: 20px;
    line-height:25px;
	color:#3E2D11;
	
}


.footer .text {
	width: 560px;
	margin: 0 auto;
	margin-top: 15px;
	font-family: 'Microsoft YaHei';
    font-size: 20px;
    line-height: 25px;
    color:#4E4E4E;
	text-align: center;
}


.cs_outer {
	width: 530px;
	margin: 0 auto;
	margin-top: 20px;
}

.icon_outer {
	width: 480px;
	margin: 0 auto;
}


.news_box {
	width: 750px;
	height: auto;
	min-height: 100%;
	overflow: hidden;
	margin: 0 auto
}

.news_page_position {
	position: relative;
	width: 100%;
	height: auto;
}



.news_page_fix_mask {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.8);
	z-index:500;
	display: none;
}

.news_page_content_outer {
	width: 100%;
	height: 100%;
	min-height:100%;
}

#iframe_news {
	position: absolute;
	width: 100%;
	height:100%;	
    z-index: 99;
	
}

#news_page_close {
	position: absolute;
	width: 53px;
	height: 53px;
	background: url(../img/news_page_close.png) top center no-repeat;
	right:100px;
	top:100px;
	opacity: 0.6;
	cursor: pointer;
	transition:all 0.5s;
	z-index: 9999;
}
#news_page_close:hover{
	transform: rotate(180deg);
}


.fix_bg {
	position: fixed;
	width: 100%;
	height: 100%;
	background:url(../img/news_mb.jpg) top center no-repeat;
	background:100% auto;
	z-index: 1;
}

.back_to_list_outer {
	position: absolute;
	top:100px;
	left:-5px;
	color: black;
	font-weight:600;
	font-size: 30px;
	width: 180px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius:0 20px 20px 0;
	border: solid black 1px;
	background: white;
	z-index: 50;
}

#back-to-top {
	position: absolute;
	width: 64px;
	height: 91px;
	background: url(../img/go_top_right.png) top center no-repeat;
	top:20px;
	right:20px;
	cursor: pointer;
	z-index: 50;
}
